# Managed by Ansible
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{% for group in (hosts_populate_openstack_groups | default([])) %}
# Group {{ group }}
{%   for host in (groups[group] | default([]) | sort) %}
{{ hostvars[host]['ansible_' + (hosts_populate_iface | default('eth0'))].ipv4.address }} {{ hostvars[host].ansible_hostname }}
{%-    if hosts_populate_regex_alias | default('') | length > 0 %}
 {{ hostvars[host].ansible_hostname | regex_replace(hosts_populate_regex_alias, '\\1') }}
{%-    endif %}

{%   endfor %}

{% endfor %}
